# q1

In [3]:
result=1
for i in range (1,6):
    result = result*i
print(result)

120

# q2

In [5]:
result = 0

for i in range (1,6):
    result = result + i
print(result)

15

# q3

In [6]:
result = 1

for i in range (3,10):
    result = result * i
print(result)

181440

# q4

In [7]:
result = 1

for i in range (4,9):
    result = result * i
print(result)

6720

# q5

In [5]:
for i in range (0,6):
    if i==3:
        continue
    print(i)

0
1
2
4
5

# q6

In [10]:
my_str= "this is my fourth string"

print(my_str)

this is my fourth string

In [15]:
count = 0
for i in "this is my fourth string".split():
    count=count+1
print(count)

5

# q7

In [31]:
my_list = [12,32,43,35]


my_list.remove(my_list[0])

print(my_list)

[32, 43, 35]

In [34]:
my_list = [12,32,43,35]

while my_list:
    
    my_list.remove(my_list[0])

print(my_list)

[]

# q8

In [44]:
my_list = 'this is my fourth string'.split()

count = 0

while my_list:
    
    count=count+1
    
    my_list.remove(my_list[0])
    
print(count)

5

# q9

In [7]:
my_tweet = {
            'fav_count':1235,
            'lang':'ch',
            'coor':(12,21),
            'entities':{'hashtags':['a','b','c']}
            }
my_tweet['entities']['hashtags']

['a', 'b', 'c']

# 9.1

In [16]:
count = 0

for i in my_tweet['entities']['hashtags']:
    count = count +1

print(count)

3

# 9.2

In [17]:
hashtag_list = my_tweet['entities']['hashtags']

count = 0

while hashtag_list:
    count = count +1
    
    hashtag_list.remove(hashtag_list[0])

print(count)

3

# q10

In [1]:
num_list = [12,32,43,35]
max = 0
min = 50
for i in range(0,4):
    if max < num_list[i]:
        max = num_list[i]
    if min > num_list[i]:
        min = num_list[i]
        
print(max)
print(min)

43
12